body{
    font-size: 14px;
}

.contener{
    width: 95%;
}


/* ######################  HEADER START   ######################## */



header > div > p{
    font-size: 2em;
}

header > div > ul{
    margin-bottom: 10px;
}


header > div > ul > li > a{
    padding: 10px 13px;
}

header > div > img {
    margin:35px auto;
}



/* ######################  wellcom section START   ######################## */

footer{
    background-image: url("../img/img05.jpg");
    margin-top: 70px;
    overflow: hidden;
}

footer > div > ul {
    padding-top: 50px ;
    float: left;
    width: 30%;
    list-style: none;
}

footer > div > ul + ul {
    padding-left: 5%;
}

footer > div > ul > li {
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.2em;
}

footer > div > ul > li:first-child {
    margin-bottom: 20px;
}

footer > div > ul > li a {
    color: rgba(0,136,0,0.7);
    text-decoration: none;
    display: block;
    padding: 15px 0 ;
    font-size: 0.7em;
    border-bottom: 1px solid rgba(0,136,0,0.3);
}